<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proudpet.ipet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_aplicativo_ipet_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_aplicativo_ipet_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activitys.activityMenuPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.Infos.activityInformacaoVacina" />
        <activity android:name=".Activitys.Forms.activityFormularioVacinas" />
        <activity android:name=".Activitys.Listas.activityListaVacinas" />
        <activity android:name=".Activitys.Forms.activityFormularioAnimais" />
        <activity android:name=".Activitys.Listas.activityListaAnimais">

        </activity>
    </application>

</manifest>